
/* -- variables -- */
var_grid_width = 960px
var_grid_gutter = 20px
var_grid_columns = 12

/* -- definitions -- */
body
	min-width var_grid_width

.clear
	clear both
	display block
	overflow hidden
	visibility hidden
	width 0
	height 0

.clearfix:before 
.clearfix:after
	content '\0020'
	display block
	overflow hidden
	visibility hidden
	width 0
	height 0
	
.clearfix:after
	clear both

.clearfix
	zoom 1


/* -- mixins -- */
container()
	width var_grid_width
	margin-left auto
	margin-right auto
	if debug
		background-image url(http://960.gs/img/16_col.gif)

grid_width(n, c = var_grid_columns, g = var_grid_gutter)
	width (var_grid_width / c * n) - g

alpha()
	margin-left 0

omega()
	margin-right 0
	
grid_content()
	display inline
	float left
	margin-left (var_grid_gutter / 2)
	margin-right (var_grid_gutter / 2)

grid_(n)
	grid_width(n)
	grid_content()
	
prefix_(n, c = var_grid_columns, g = var_grid_gutter)
	padding-left ((var_grid_width / c * n) + (g / 2))

suffix_(n, c = var_grid_columns, g = var_grid_gutter)
	padding-right ((var_grid_width / c * n) + (g / 2))
	
push_(n, c = var_grid_columns)
	position relative
	left (var_grid_width / c * n)

pull_(n, c = var_grid_columns)
	position relative
	left (- (var_grid_width / c * n))
